[submodule "src/mixerclient"]
	path = src/mixerclient
	url = https://github.com/istio/mixerclient.git
	branch = unary
[submodule "src/api"]
	path = src/api
	url = https://github.com/costinm/api.git
	branch = costin
[submodule "src/proxy"]
	path = src/proxy
	url = https://github.com/costinm/proxy.git
	branch = costin
[submodule "src/mixer"]
	path = src/mixer
	url = https://github.com/istio/mixer.git
	branch = unary
[submodule "src/grpc"]
	path = src/grpc
	url = https://github.com/grpc/grpc.git
[submodule "envoy"]
	path = envoy
	url = https://github.com/lyft/envoy.git
[submodule "src/lightstep-tracer"]
	path = src/lightstep-tracer
	url = https://github.com/lightstep/lightstep-tracer-cpp.git
	branch = f1dc8f3dfd529350e053fd21273e627f409ae428
[submodule "src/lightstep-tracer-common"]
	path = src/lightstep-tracer-common
	url = https://github.com/lightstep/lightstep-tracer-common.git
	branch = cbbecd671c1ae1f20ae873c5da688c8c14d04ec3
[submodule "src/spdlog"]
	path = src/spdlog
	url = https://github.com/gabime/spdlog.git
