[submodule "src/mixerclient"]
	path = src/mixerclient
	url = https://github.com/istio/mixerclient.git
	branch = unary
[submodule "src/api"]
	path = src/api
	url = https://github.com/istio/api.git
	branch = unary
[submodule "src/proxy"]
	path = src/proxy
	url = https://github.com/istio/proxy.git
	branch = unary
[submodule "src/mixer"]
	path = src/mixer
	url = https://github.com/istio/mixer.git
	branch = unary
[submodule "src/grpc"]
	path = src/grpc
	url = https://github.com/grpc/grpc.git
[submodule "envoy"]
	path = envoy
	url = https://github.com/lyft/envoy.git
